/* Styles go here */

body, html{
  height: 100%;
}

/* Background display */

.bg{
  background-image: url("https://www.google.com/url?sa=i&source=images&cd=&cad=rja&uact=8&ved=2ahUKEwjTy4_QvbveAhVNoVMKHb0QBmcQjRx6BAgBEAU&url=https%3A%2F%2Fwww.freepik.com%2Ffree-vector%2Fsunset-in-the-city-background_1122811.htm&psig=AOvVaw0HTS_NrcNiT9z3l9raEpPw&ust=1541446443652032");

  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Padding and margin */

.main{
  padding: 20px;
  margin: 25px;
}

/* Nav Menu */

.navMenu{
  font-family: 'Century Gothic', 'Trebuchet MS';
}

/* Main title */

h1{
  @font-face {
    font-family: "myFirstFont";
  }
  font-family: 'Arial', 'Century Gothic', 'Trebuchet MS';
  color: #9d89a5;
  text-align: center;
  font-weight: normal;
}

/* Witty subtitle */

h2{
  font-family: 'Century Gothic', 'Lato', 'Trebuchet MS';
  font-style: italic;
  font-size: 14px;
  color: #a6a0bc;
  text-align: center;
}

.snake{
  margin: 500px;
}
