/* Styles go here */

body, html{
  height: 100%;
}

/* Background display */

.bg{
  background-image: url("https://www.freepik.com/index.php?goto=74&idfoto=1122811");

  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Padding and margin */

.main{
  padding: 20px;
  margin: 25px;
}

/* Nav Menu */

.navMenu{
  font-family: 'Century Gothic', 'Trebuchet MS';
}

/* Main title */

h1{
  @font-face {
    font-family: "myFirstFont";
  }
  font-family: 'Arial', 'Century Gothic', 'Trebuchet MS';
  color: #9d89a5;
  text-align: center;
  font-weight: normal;
}

/* Witty subtitle */

h2{
  font-family: 'Century Gothic', 'Lato', 'Trebuchet MS';
  font-style: italic;
  font-size: 14px;
  color: #a6a0bc;
  text-align: center;
}

.snake{
  margin: 500px;
}
