/* Styles go here */

body, html{
  height: 100%;
}

/* Background display */

.bg{
  background-image: url("https://www.freepik.com/free-vector/hexagonal-pattern_852781.html");

  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Padding and margin */

.main{
  padding: 20px;
  margin: 25px;
}

/* Nav Menu */

.navMenu{
  font-family: 'Century Gothic', 'Trebuchet MS';
}

/* Main title */

h1{
  @font-face {
    font-family: "myFirstFont";
  }
  font-family: 'Century Gothic', 'Lato', 'Trebuchet MS';
  font-size: 36px;
  color: #6a448e;
  text-align: center;
  font-weight: normal;
}

/* Subtitle */

h2{
  font-family: 'Century Gothic', 'Lato', 'Trebuchet MS';
  //font-style: italic;
  font-size: 24px;
  color: #8d5dba;
  text-align: center;
}

.snake{
  display: block;
  margin-righ: auto;
  margin-left: auto;
}

.about{
  header{
    font-family: 'Arial', 'Century Gothic', 'Trebuchet MS';
    font-style: bold;
    font-size: 36px;
    text-align: center;
    color: #42d1f4;
  }
}
